---
layout: page
title: Projects 
header: Projects
group: navigation
analytics: google
order: 2
---
{% include JB/setup %}
{% include JB/analytics %}

<ul>

  <li style="padding-bottom:20px;"> <b>MLNotes</b><br>
  <div style="padding-bottom:4px;">
  For most of 2015 I kept myself busy studying and heavily respecializing towards Machine Learning and Deep Learning.
  As I now work in the field on a daily basis, that's doubtlessly been a successful endeavor.
  I couldn't have possibly done it without the incredible amount of excellent material, resources, and books the Machine Learning community at large
  took the time to produce and make available.<br>
  
  As a way to give a little back to such an amazing community I managed to collect and scan the notes I took while I was reading and studying some
  of the most recent textbooks as well as some more basic introductory material.</div>
  <a href="http://github.com/lospooky/mlnotes"><i class="fa fa-github  fa-lg" style="padding-right: 10px;" title="Repo"></i></a>
  </li>
  
  <li style="padding-bottom:20px;"> <b>Pyblur</b><br>
  <div style="padding-bottom:4px;">
  Pyblur is a python package providing easy to use image blurring routines.<br>
  It supports Gaussian, Disk, Box, and Linear Motion blur kernels / point spread functions.<br>
  It also offers the possibility of randomizing kernel type and strength of the applied blur.<br>
  Available either through <code>pip install pyblur</code> or Github.
  </div>
  <a href="https://pypi.python.org/pypi/pyblur"><i class="fa fa-globe  fa-lg" style="padding-right: 10px;" title="Pypi Page"></i></a>
  <a href="http://github.com/lospooky/pyblur"><i class="fa fa-github  fa-lg" style="padding-right: 10px;" title="Repo"></i></a>
  </li>

  <li style="padding-bottom:20px;"> <b>Ravensolver</b><br>
  <div style="padding-bottom:4px;"> Ravensolver is an automated solver for progressive matrix problems, a widely used type of abstract reasoning test.
  It was me and my working partner Master's Thesis project. Ravensolver was the first program explicitly designed to solve progressive matrix problems without
  taking the answer alternatives into account. For more information, please read our
  <a href="http://studentarbeten.chalmers.se/publication/123536-an-anthropomorphic-solver-for-ravens-progressive-matrices">thesis manuscript</a>
  or the <a href="http://dx.doi.org/10.1016/j.cogsys.2012.08.002">journal article</a> we produced from it.</div>
  <a href="http://blog.spook.ee/ravensolver"><i class="fa fa-globe  fa-lg" style="padding-right: 10px;" title="Project Page"></i></a>
  <a href="http://github.com/lospooky/ravensolver"><i class="fa fa-github  fa-lg" style="padding-right: 10px;" title="Repo"></i></a>
  </li>
  
  <li style="padding-bottom:20px;"> <b>SynoShows scripts</b><br>
  <div style="padding-bottom:4px;">
  Having owned a Synology NAS for years and following a lot of TV Shows, at some point I decided to fully automate the workflow around them.<br>
  The <i>upstream</i> section was easily taken care of: a RSS subscription monitored by the Synology's own Downloadstation.<br>
  For the post-download processing, I had to write my own scripts instead. They rename downloaded episode files, move them to the archiving directory,
  and finally send a convenient Pushbullet notification about the completed download. After a little restructuring and cleanup, here they are as SynoShows.</div>
  <a href="http://blog.spook.ee/synoshows"><i class="fa fa-globe  fa-lg" style="padding-right: 10px;" title="Project Page"></i></a>
  <a href="http://github.com/lospooky/synoshows"><i class="fa fa-github  fa-lg" style="padding-right: 10px;" title="Repo"></i></a>
  </li>
</ul>